body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  color: black;
}
.movie {
  text-decoration: none;
}
.navbar {
  top: 0px;
  left: 0px;
  background-color: #333;
  position: fixed;
  width: 100%;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navbar li {
  padding: 15px 50px 5px 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: xx-large;
}
main {
  margin-top: 30px;
}

#main {
  height: 500px;
  width: 100%;
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  font-size: 50px;
}
#chargerfilmdiv {
  display: flex;
  justify-content: center;
}
#chargerfilm {
  display: flex;
  margin: 20px;
  justify-content: center;
  background-color: #e8e8e8;
  border-radius: 22px;
}
h2 {
  margin: 10px;
}
.Film {
  background-color: #e8e8e8;
}
.Film:hover {
  background-color: #adadad;
}
#mainEcran {
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Filmplein {
  margin-top: 120px;
  margin-left: 20px;
}
.movie-title-plein {
  font-size: 100px;
}
.movieplein {
  display: flex;
  justify-content: center;
}
#search-bar {
  display: flex;
  width: 600px;
  height: 70px;
  justify-content: center;
  background-color: white;
  border-radius: 22px;
}
#img-search {
  margin-top: 10px;
}
#Rechercher-acceuille {
  width: 500px;
  height: 65px;
  padding-inline-start: 10px;
  border: none;
  outline: none;
  text-overflow: ellipsis;
  font-size: larger;
}
#Rechercher-bouton {
  display: flex;
  margin: 20px;
  justify-content: center;
  background-color: #e8e8e8;
  border-radius: 22px;
}
#Rechercher-bouton:hover {
  background-color: #adadad;
}
#space {
  height: 200px;
}
